/*body{margin: 0;}
header {color: lightseagreen;background-color: black;border: none;height: 100px;width: max-content;list-style-type: none;text-align: center;width: 100%;}
nav { border: 0;
    padding: 0;
    width: 100%;
    background-color: gray;
    display: block;
    color: lightseagreen;
    top: 100px;
    height:10%;}
ul .navi{position: fixed;
    overflow: hidden;
    list-style-type:none;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 15%;
    background-color: gray; }
li a.navi{display: block; 
        padding: 8px 16px;
        text-decoration: none;
        text-align: center;}
li a.navi{color:black; 
        list-style-type: none;}
li a.navi:hover:not(.active){background-color: black; color: lightseagreen;}
li a.active .navi{background-color: lightseagreen;color: black;}
main {position: relative; left: 30%; max-width: 50%;top: 40%; color: lightseagreen;}
body{font-family: 'Courier New', Courier, monospace;color: lightgray;}*/
body {background-color: black;
    color: lightseagreen;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;}

/*profile page*/
.pers-info, .games, .concerts {width: max-content;
    position: relative;}
.games {width: max-content;
    position: relative;}
.concerts {width: max-content;
    position: relative;}
/*navbar en aside*/
.navi{width: max-content;
    position: -webkit-sticky; /*safari*/ 
    position: sticky;
    position: fixed;
    top: 0; 
    list-style-type: none; 
    margin:0;
    padding: 0;
    background-color: gray;}
li{float: left;    
    position: -webkit-sticky; /*safari*/ 
    position: sticky;}
li a, .asidebtn{width:220px ; 
    position: -webkit-sticky; /*safari*/ 
    position: sticky;display: block; 
    color: black;
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none;
    background-color: gray;}
li a:hover, .aside:hover .asidebtn{background-color: black;
    color: gray;}
.active a{background-color: lightseagreen; 
    color: black;}
li a, .asidebtn {display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}
li.aside {display: inline-block;position: relative;}
.asidelinks {display: none; 
    position: relative;
    background-color: gray; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba (0,0,0,0.2);
    z-index: 1;}
.asidelinks a{color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;}
.asidelinks a:hover {background-color: gray;
    color: lightseagreen;}
.aside:hover .asidelinks {display:block;}

.header {font-size: 300%;
    padding: 30px;
    background-color: black;
    text-decoration:double;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-align: center;}
main{position: relative;
    text-align: center; 
    max-width: 50%;
    width: max-content;
    top: 100px; 
    color: lightseagreen;
    margin-left: auto; 
    margin-right: auto;}
img {width: 200px;
    position: relative;
    overflow: hidden;}
hr {border-color: lightseagreen;background-color: lightseagreen; width: 200px;}
/*dashboard*/
table, th, td {border: 3px;
    border-collapse: collapse;
    border-color: lightseagreen;
border-style: solid;}
th {font-size: x-large;}